<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAal50Ji9q-vISvHv4kWFGQdITwl2irrns</string>
	<key>GCM_SENDER_ID</key>
	<string>93471930782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.luisa.dev.lojaGetxFirebase</string>
	<key>PROJECT_ID</key>
	<string>loja-getx-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-getx-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93471930782:ios:9d539f7fe60256c9823e8f</string>
</dict>
</plist>